<html>
  <head>
    <!--Load the AJAX API-->
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      // Load the Visualization API and the corechart package.
      google.charts.load("current", { packages: ["corechart"] });

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawCharts);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawCharts() {
        // Create the data table.
        var data1 = google.visualization.arrayToDataTable(
          [
            ["Gaz", "Concentration"],
            {% for key, value in data[0].items() %}
             ['{{ key }}', {{ value }}],
            {% endfor %}
          ]);

        var data2 = google.visualization.arrayToDataTable(
          [
            ["Gaz", "Concentration"],
            {% for key, value in data[1].items() %}
             ['{{ key }}', {{ value }}],
            {% endfor %}
          ]);

        var data3 = google.visualization.arrayToDataTable(
          [
            ["Gaz", "Concentration"],
            {% for key, value in data[2].items() %}
             ['{{ key }}', {{ value }}],
            {% endfor %}
          ]);

        // Set chart options
        var options1 = {
          title: "Concentration en gaz dans la pièce",
          width: 1200,
          height: 900,
        };

        var options2 = {
          title: "Concentration en gaz dans la pièce",
          width: 1200,
          height: 900,
        };

        var options3 = {
          title: "Concentration en gaz dans la pièce",
          width: 1200,
          height: 900,
        };

        var chart1 = new google.charts.Line(
          document.getElementById("chart1_div")
        );

        var chart2 = new google.charts.Line(
          document.getElementById("chart2_div")
        );

        var chart3 = new google.charts.Line(
          document.getElementById("chart3_div")
        );

        chart1.draw(data1, google.charts.Line.convertOptions(options1));

        chart2.draw(data2, google.charts.Line.convertOptions(options2));

        chart3.draw(data3, google.charts.Line.convertOptions(options3));
      }
    </script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    <div id="chart1_div"></div>
    <div id="chart2_div"></div>
    <div id="chart3_div"></div>
  </body>
</html>
